<div id="highlight" class="flex items-center justify-center" phx-hook="Highlight">
    <pre>
        <code class="language-elixir border border-white rounded-lg">
            <%= @gist.markup_text %>
        </code>
    </pre>
</div>